:root{
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark-blue: hsl(229, 57%, 11%);
    --gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 14 px;
    background-color: var(--very-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box {
    background-color: var(--dark-blue);
    width: 90vw;
    border-radius: 10px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: var(--pale-blue)
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}
